/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", "Arial", sans-serif;
    background-color: #222;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* CONTENT-WRAPPER */
.global-wrapper {
    width: 100%;
    max-width: 1250px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    display: flex;
}


/* HERO */
.hero {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nature-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero-wrapper {
    width: 100%;
    max-width: 285px;
}

.hero-heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    text-transform: uppercase;
}

.hero-link {
    display: inline-block;
    background-color: #1e90ff;
    color: #fff;
}

.hero-link:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.hero-link:active {
    background-color: rgba(30, 144, 255, 0.6);
}

.hero-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
}

.hero-link-text {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.hero-link-text::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    content: "";
    background-image: url("../img/star-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}


/* ARTICLES */
.articles {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 54px;
}

.articles-heading {
    color: #222;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 24px;
}

.articles-line {
    border: 0;
    margin: 0;
    height: 1px;
    background-color: #999;
    margin-bottom: 24px;
}

.articles-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.articles-item {
    display: flex;
}

.articles-item:not(:last-child) {
    margin-bottom: 10px;
}

.articles-item-content {
    padding: 16px;
}

.articles-item-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 4px;
}

.articles-item-link {
    color: #222;
}

.articles-item-link:hover {
    color: #1e90ff;
}

.articles-item-link:active {
    opacity: 0.6;
}

.articles-item-img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
}

.articles-item-footer {
    display: flex;
}

.articles-item-time,
.articles-item-view {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: #888;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    display: flex;
}

.articles-item-time {
    margin-right: 24px;
}

.articles-item-view {
    color: #666;
}

.articles-item-time::before {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    content: "";
    background-image: url("../img/hour.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.articles-button {
    width: 100%;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    border: 0;
    border-radius: 4px;
    padding: 12px;
    background-color: #1e90ff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.articles-button:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.articles-button:active {
    background-color: rgba(30, 144, 255, 0.6);
}